/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*

-- Reset Css --

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*

-- Font Styles --

*/
@font-face {
    font-family: "Mulish-Bold";
    src: url("../fonts/Mulish/Mulish-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish-Regular";
    src: url("../fonts/Mulish/Mulish-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Mulish-SemiBold";
    src: url("../fonts/Mulish/Mulish-Bold.ttf") format("truetype");
}


:root {
    --primary-color: rgba(255, 252, 248, 1);
    --secondary-color: rgba(48, 48, 48, 1);
    --white-color: rgba(255, 255, 255, 1);
    --gray-color: rgba(106, 105, 105, 1);
    --orange-color: rgba(248, 222, 189, 1);
    --red-color: rgba(251, 240, 243, 1);
    --green-color: rgba(208, 251, 255, 1);


    --mulish-bold-font: "Mulish-Bold";
    --mulish-regular-font: "Mulish-Regular";
    --mulish-semiBold-font: "Mulish-SemiBold";
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.3;
    background-color: var(--primary-color);
    -webkit-box-shadow: 0 4px 90px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 90px 0 rgba(0, 0, 0, 0.06);
    font-family: var(--mulish-regular-font), sans-serif;
    border-radius: 4rem;
    position: relative;
}

/*

-- Helper Classes --

*/

.hidden {
    display: none;
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-green {
    background-color: var(--green-color);
}

.color-orange {
    color: var(--orange-color);
}

.color-red {
    color: var(--red-color);
}

.color-green {
    color: var(--green-color);
}

.container {
    padding: 5.7rem 3rem;
    margin: 0 auto;
}

/*

-- App Styles --

*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 10.1rem;
    height: 100vh;
    background-color: var(--white-color);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 0 1.2rem 1.2rem 0;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
    -webkit-box-shadow: inset 0 4px 4px 0 rgba(196, 196, 196, 1);
    box-shadow: inset 0 4px 4px 0 rgba(196, 196, 196, 1);
    padding: 5.7rem 0;
}

.sidebar__header {}

.logo-wrapper {
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
}

.logo-wrapper__img {
    width: 100%;
    height: 100%;
}

.nav {
    margin-top: 7rem;
}

.nav__list {}

.nav__item {
    width: 6rem;
    height: 6rem;
    border-radius: 1.2rem;
    cursor: pointer;
    margin: 2.5rem 0;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
    box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
}

.nav__item--active {
    background-color: var(--secondary-color);
}

.nav__item.nav__item--active .nav__icon {
    color: #fff;
}

.faq__link,
.nav__link {
    text-decoration: none;
    color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;

}

.faq__icon,
.nav__icon {
    width: 100%;
    height: 3rem;
}


.sidebar__footer {}

.faq {
    width: 6rem;
    height: 6rem;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
    box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
    border-radius: 1.2rem;
    cursor: pointer;
}





/*

--    Main  --

*/

.main {
    position: relative;
    left: 10.1rem;
    right: 56rem;
    top: 0;
    width: calc(100% - 66.1rem);
    height: 100vh;
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
}

/*

--    Health Overview  --

*/



.health-overview-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.health-overview-header__left {}

.health-overview-header__title {
    font-family: var(--mulish-bold-font);
    font-size: 2.8rem;
    color: var(--secondary-color);
}

.health-overview-header__date {
    font-family: var(--mulish-semiBold-font);
    font-size: 1.6rem;
    color: var(--gray-color);
}

.health-overview-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}

.health-overview-header__search,
.health-overview-header__notify {
    padding: 1rem 1.4rem;
    background-color: var(--white-color);
    border-radius: 1.2rem;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
    box-shadow: inset 0 0 2px 0 rgba(196, 196, 196, 1);
}

.health-overview-header__search-icon,
.health-overview-header__notify-icon {
    width: 2.4rem;
    height: 2.4rem;
}


/*

--    Health Info  --

*/

.health-info {
    margin-top: 2rem;
}

.health-info__card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 3rem;
}

.health-info-card {
    background-color: var(--white-color);
    border-radius: 1.2rem;
    -webkit-box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
    width: 33%;
    height: 26.2rem;
    padding: 2rem 2rem 1rem 2rem;
}

.health-info-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.health-info-card__icon-wrapper {
    width: 5.7rem;
    height: 5.8rem;
    border-radius: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.health-info-card__icon {
    width: 2rem;
    height: 3.5rem;
}

.health-info-card__unit {
    width: 9.9rem;
}

.health-info-card__body {}

.health-info-card__result {
    margin: 1.5rem 0 0.6rem 0
}

.health-info-card__result-number {
    font-family: var(--mulish-regular-font);
    font-size: 3.2rem;
    color: var(--secondary-color);
}

.health-info-card__result-symbol {
    font-family: var(--mulish-bold-font);
    font-size: 1.6rem;
    color: var(--gray-color);
}

.health-info-card__status {
    font-family: var(--mulish-semiBold-font);
    font-size: 1.2rem;
    padding: .8rem .4rem;
    border-radius: .4rem;
}

.health-info-card__footer {}

.health-info-card__vector-icon {
    width: 100%;
    height: 7.2rem;

}

/*

--    Activity Growth  --

*/
.activity-growth-card {
    -webkit-box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--white-color);
    border-radius: 1.2rem;
    margin-top: 2rem;
    padding: 2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.activity-growth-card__header {
    width: 100%;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.activity-growth-card__title {
    font-family: var(--mulish-bold-font);
    font-size: 2rem;
    color: var(--secondary-color);
}

.activity-growth-card__date {
    padding: 1.4rem 2rem;
    border-radius: 1.2rem;
    -webkit-box-shadow: inset 0 0px 2px 0 rgba(225, 225, 225, 1);
    box-shadow: inset 0 0px 2px 0 rgba(225, 225, 225, 1);
}

.activity-growth-card__body {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.activity-growth-card__char {
    width: 100% !important;
    height: 100% !important;
}

/*

--    Upcoming Appointment  --

*/

.upcoming-appointment {
    margin-top: 2rem;
}

.upcoming-appointment-card {
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.08);
}

.upcoming-appointment-card__title {
    font-family: var(--mulish-bold-font);
    font-size: 2rem;
    color: var(--secondary-color);
}

.upcoming-appointment-card__date {
    font-family: var(--mulish-bold-font);
    font-size: 1.2rem;
    background-color: var(--green-color);
    padding: .8rem;
    border-radius: .8rem;
    color: var(--secondary-color);
}

.upcoming-appointment-card__consultation {
    font-family: var(--mulish-regular-font);
    font-size: 1.6rem;
    color: var(--gray-color);
}

/*

--    BMI Calculator  --

*/

.bmi-calculator {
    border-radius: 4rem 0 0 4rem;
    background-color: var(--secondary-color);
    -webkit-box-shadow: 0 0 90px 0 rgba(90, 90, 90, 0.1);
    box-shadow: 0 0 90px 0 rgba(90, 90, 90, 0.1);
    padding: 5.7rem 3rem;
    width: 56rem;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.bmi-calculator__controller {
    display: none;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    padding-bottom: 1.7rem;
}

.bmi-calculator__close-btn {
    color: var(--white-color);
    width: 3rem;
    height: 3rem;
}

.bmi-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bmi-header__title {
    font-family: var(--mulish-regular-font);
    font-size: 2.2rem;
    color: var(--white-color);
}

.bmi-header__week-selector {
    padding: 1.4rem 2rem;
    border-radius: 1.2rem;
    -webkit-box-shadow: inset 0 0px 2px 0 rgba(202, 202, 202, 1);
    box-shadow: inset 0 0px 2px 0 rgba(202, 202, 202, 1);
    background-color: var(--secondary-color);
    color: #CACACA;
}


.bmi-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.bmi-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.height-card,
.weight-card {
    width: 18.7rem;
    height: 8.2rem;
    background-color: var(--orange-color);
    border-radius: 1.2rem;
    padding: 2rem 0;
}

.height-card__wrapper,
.weight-card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}

.height-card__img,
.weight-card__img {}

.height-card__value,
.weight-card__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.height-card__result,
.height-card__title,
.weight-card__title,
.weight-card__result {
    font-family: var(--mulish-regular-font);
    font-size: 1.6rem;
    color: #272927;
}

.weight-card {
    background-color: var(--green-color);
}

.body-mass-card {
    width: 28.3rem;
    height: 18.4rem;
    background-color: #4A4949;
    border-radius: 1.2rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.body-mass-card__title {
    font-family: var(--mulish-regular-font);
    font-size: 1.6rem;
    color: var(--white-color);
}

.body-mass-card__status-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
}

.body-mass-card__value {
    font-family: var(--mulish-regular-font);
    font-size: 2.4rem;
    color: var(--white-color);
}

.body-mass-card__status {
    display: inline-block;
    padding: 1rem .6rem;
    border-radius: 1.2rem;
}

.body-mass-card__img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
}

.body-mass-card__img {
    width: 100%;
}

.bmi-calculator__line {
    width: 80%;
    margin: 4rem auto;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4F4E4E;
    padding: 0;
}

.body-measurements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.body-mass {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.body-mass__header {}

.body-mass__title {
    font-family: var(--mulish-regular-font);
    font-size: 2.2rem;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.body-mass__update {
    font-family: var(--mulish-bold-font);
    font-size: 1.6rem;
    color: #CACACA;
    margin-bottom: 2rem;
}

.body-mass__rotate {
    display: inline-block;
    padding: 1rem;
    border-radius: .8rem;
    background-color: #5E5E5E;
    font-family: var(--mulish-regular-font);
    font-size: 1.4rem;
}

.body-mass__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2rem;
}

.card-body-mass {
    width: 14.5rem;
    height: 10.6rem;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    -webkit-box-shadow: inset 0 0px 2px 0 rgba(202, 202, 202, 1);
    box-shadow: inset 0 0px 2px 0 rgba(202, 202, 202, 1);
    padding: 3.2rem 2.4rem;
    text-align: center;

}

.card-body-mass__title {
    font-family: var(--mulish-bold-font);
    font-size: 1.8rem;
    color: #5F5F5F;
}

.card-body-mass__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .5rem;
}

.card-body-mass__value {
    font-family: var(--mulish-regular-font);
    font-size: 2.4rem;
}

.card-body-mass__status {
    width: 2.4rem;
    height: 2.4rem;
}


.body-measurements__shape {
    width: 17.5rem;
    height: 54.5rem;
    position: relative;
}

.body-measurements__shape-img {
    width: 100%;
    height: auto;
    display: block;

}

.body-measurements__shape::after {
    content: '';
    background: url('../images/Fill-283.png');
    background-size: cover;
    width: 6rem;
    height: 5rem;
    position: absolute;
    top: -1rem;
    left: 46%;
    -webkit-transform: translateX(-46%);
    -ms-transform: translateX(-46%);
    transform: translateX(-46%);
    z-index: 9;
}

/*

--    BMI Button  --

*/

.bmi-toggle-btn {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
    position: fixed;
    right: 0;
    top: 50%;
    background-color: var(--secondary-color);
    border-radius: 1.2rem 0 0 1.2rem;
    color: var(--white-color);
    width: 7rem;
    height: 4rem;
    cursor: pointer;
    -webkit-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.bmi-toggle-btn:hover {
    width: 7.5rem;
}

.bmi-toggle-btn__icon {
    width: 2rem;
    height: 2rem;
    color: var(--white-color);
}

.bmi-toggle-btn--hidden {
    display: none !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.bmi-calculator--open {
    position: absolute;
    top: 0;
    right: 0 !important;
    padding: 1rem 2rem !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 0 !important;
}

/* 

-- Responsive --

*/


@media screen and (max-width:1400px) {
    .main {
        right: 56rem;
        width: calc(100% - 55.1rem);
    }

    .bmi-calculator {
        width: 45rem;
    }

    .height-card,
    .weight-card {
        width: 14.7rem;
    }

    .body-mass-card {}

    .body-mass-card__value {
        font-size: 2.2rem;
    }

    .body-mass-card__status {
        padding: .8rem .4rem;
    }

    .body-mass__rotate {
        padding: .9rem;
    }

    .card-body-mass {
        width: 12.5rem;
        height: 8.6rem;
        padding: 2.2rem 2.2rem;
    }

    .card-body-mass__title {
        font-size: 1.6rem;
    }

    .card-body-mass__value {
        font-size: 2.2rem;
    }

    .card-body-mass__status {
        width: 2.2rem;
        height: 2.2rem;
    }

    .body-measurements__shape {
        width: 15.5rem;
        height: 50.5rem;
    }

    .body-measurements__shape::after {
        width: 5rem;
        height: 4rem;
    }
}

@media screen and (max-width:1260px) {
    .sidebar {
        width: 8rem;
    }

    .logo-wrapper {
        width: 3.5rem;
        height: 3.5rem;
    }

    .nav__item {
        width: 5rem;
        height: 5rem;
    }

    .faq__icon,
    .nav__icon {
        height: 2.8rem;
    }

    .faq {
        width: 5rem;
        height: 5rem;
    }

    .main {
        right: 38rem;
        left: 8rem;
        width: calc(100% - 46rem);
    }

    .container {
        padding: 5.7rem 2rem;
    }

    .health-overview-header__title {
        font-size: 2rem;
    }

    .health-info__card-wrapper {
        gap: 1rem;
    }

    .health-info-card {
        padding: 1.6rem 1.6rem 1rem 1.6rem;
        height: 20.2rem;
    }

    .health-info-card__icon-wrapper {
        width: 3.7rem;
        height: 3.8rem;
    }

    .health-info-card__icon {
        width: 1.5rem;
        height: 3rem;
    }

    .health-info-card__unit {
        width: 7.9rem;
    }

    .health-info-card__result-number {
        font-size: 2rem;
    }

    .health-info-card__result-symbol {
        font-size: 1.2rem;
    }

    .health-info-card__status {
        font-size: 1rem;
        padding: .6rem .3rem;
    }

    .health-info-card__vector-icon {
        height: 6.2rem;
    }

    .upcoming-appointment-card__title {
        font-size: 1.6rem;
    }

    .upcoming-appointment-card__date {
        font-size: 1rem;
        padding: .6rem;
    }

    .upcoming-appointment-card__consultation {
        font-size: 1.2rem;
    }

    .bmi-calculator {
        width: 38rem;
        padding: 5.7rem 2rem;
    }

    .bmi-header__title {
        font-size: 2rem;
    }

    .bmi-header__week-selector {
        padding: 1.2rem 1.8rem;
    }

    .bmi-section {
        gap: 1rem;
    }

    .height-card,
    .weight-card {
        width: 12.7rem;
        padding: 1.8rem 0;
    }

    .height-card__result,
    .height-card__title,
    .weight-card__title,
    .weight-card__result {
        font-size: 1.4rem;
    }

    .body-mass-card {
        width: 19.3rem;
        padding: 1rem;
    }

    .body-mass-card__title {
        font-size: 1.4rem;
    }

    .body-mass-card__value {
        font-size: 2rem;
    }

    .body-mass-card__status {
        padding: .4rem .2rem;
        font-size: 1.3rem;
    }

    .body-mass__title {
        font-size: 2rem;
    }

    .body-mass__update {
        font-size: 1.4rem;
    }

    .body-mass__rotate {
        padding: .5rem;
    }

    .body-measurements__shape {
        width: 11.5rem;
        height: 42.5rem;
    }

    .body-measurements__shape::after {
        width: 4rem;
        height: 3rem;
    }

    .card-body-mass {
        width: 10.5rem;
        height: 6.6rem;
        padding: 2rem;
    }

    .card-body-mass__title {
        font-size: 1.4rem;
        text-wrap: nowrap;
    }

    .card-body-mass__value {
        font-size: 1.2rem;
    }

    .card-body-mass__status {
        width: 1.8rem;
        height: 1.8rem;
    }

}

@media screen and (max-width:992px) {
    .bmi-calculator {
        right: -38rem;
    }

    .main {
        right: 0rem;
        left: 8rem;
        width: calc(100% - 8rem);
    }

    .bmi-calculator__controller {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .bmi-toggle-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {
    .health-info__card-wrapper {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .health-info-card {
        width: 100%;
    }

    .upcoming-appointment-card {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:480px) {

    .health-overview-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1rem;
    }

    .activity-growth-card__header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .upcoming-appointment-card {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 1rem;
    }
}